
<div class="canvas"  style="width: 100%;height: 80%;">

    <div class="container drag_crollList" id="copyList" >
        <div draggable="true" class="box">A</div>
        <div draggable="true" class="box">A</div>
        <div draggable="true" class="box">A</div>
      </div>
      
      <%- include('../fragments/tab_menu.ejs') %>
<div class="container" style="">
    <div draggable="true" class="box box-board" id="drag0.0">__</div>
    <div draggable="true" class="box box-board" id="drag0.1">__</div>
    <div draggable="true" class="box box-board" id="drag0.2">__</div>
    <div draggable="true" class="box box-board" id="drag1.0">__</div>
    <div draggable="true" class="box box-board" id="drag1.1">__</div>
    <div draggable="true" class="box box-board" id="drag1.2">__</div>
    <div draggable="true" class="box box-board" id="drag2.0">__</div>
    <div draggable="true" class="box box-board" id="drag2.1">__</div>
    <div draggable="true" class="box box-board" id="drag2.2">__</div>
  </div>
</div>
  <script src="js/drag.js"></script>