<h1>Soundboard</h1>
<div class="grid_soundboard">
  <div class="box" id="a" onclick="playSound(this)">
    <p>1</p>
  </div>
  <div class="box" id="b" onclick="playSound(this)">
    <p>2</p>
  </div>
  <div class="box" id="c" onclick="playSound(this)">
    <p>3</p>
  </div>
  <div class="box" id="d" onclick="playSound(this)">
    <p>4</p>
  </div>
  <div class="box" id="e" onclick="playSound(this)">
    <p>5</p>
  </div>
  <div class="box" id="f" onclick="playSound(this)">
    <p>6</p>
  </div>
  <div class="box" id="g" onclick="playSound(this)">
    <p>7</p>
  </div>
  <div class="box" id="h" onclick="playSound(this)">
    <p>8</p>
  </div>
  <div class="box" id="i" onclick="playSound(this)">
    <p>9</p>
  </div>
</div>